.wrapper div {
  background-color: royalblue;
  padding: 1rem;
}

.wrapper div:nth-child(even) {
  background-color: lightblue;
}

.wrapper {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap: 1rem;
  grid-template-rows: 200px 200px 200px;
  grid-auto-rows: 400px;
  grid-row-gap: 2rem;
}
